:root {
  max-width: 1440px;
  margin: auto;
  background-color: lightyellow;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: Helvetica, "Lato", sans-serif;
}
main {
  background-color: lightyellow;
}
nav {
  margin: auto;
  max-width: 1440px;
}
.nav-link {
  padding: 0px 5px;
  border-radius: 5px;
}
.nav-link:hover {
  background-color: orange;
}
#submit {
  font-weight: 700;
}
.nav-item {
  margin: 0px 25px;
}
#header-img {
  max-width: 60px;
}
#form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h5 {
  max-width: 1040px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
.box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 50px;
  max-width: 1040px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.icon-box {
  display: flex;
  justify-content: center;
}
.text-box {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}
.pp {
  display: flex;
  justify-content: flex-end;
}
path {
  color: orange;
}
.cards {
  max-width: 400px;
  min-width: 355px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  border: solid 1px black;
}
.card-img {
  max-width: 355px;
  display: block;
}
.card-text {
  text-align: center;
}
.card-title {
  background-color: rgba(192, 192, 192, 0.808);
}
h2 {
  text-align: center;
}
.pp > a {
  text-decoration: none;
  color: orange;
  padding: 10px;
  position: relative;
  margin-top: -10px;
}
.pp > a:hover {
  background-color: orange;
  color: black;
  border-radius: 5px;
}
@media (max-width: 576px) {
  .box {
    display: flex;
    flex-direction: column;
  }
  .mn {
    font-size: 1rem;
    margin-right: 15px;
    margin-left: 15px;
  }
  .text-box {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .icon-box {
    display: none;
  }
  .card-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  footer {
    font-size: 0.8rem;
  }
}
@media (max-width: 1400px) {
  .cards {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.swing-in-bottom-fwd {
  -webkit-animation: swing-in-bottom-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-bottom-fwd 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}
