:root {
  max-width: 1440px;
  margin: auto;
  background-color: lightyellow;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: Helvetica, "Lato", sans-serif;
}
main {
  background-color: lightyellow;
}
nav {
  margin: auto;
  max-width: 1440px;
}
#submit {
  font-weight: 700;
}
.nav-item {
  margin: 0px 25px;
}
#header-img {
  max-width: 60px;
}
#form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h5 {
  max-width: 1040px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
.box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 50px;
  max-width: 1040px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.icon-box {
  display: flex;
  justify-content: center;
}
.text-box {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}
.pp {
  display: flex;
  justify-content: flex-end;
}
path {
  color: orange;
}
.cards {
  max-width: 400px;
  min-width: 355px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  border: solid 1px black;
}
.card-img {
  max-width: 355px;
  display: block;
}
.card-text {
  text-align: center;
}
.card-title {
  background-color: rgba(192, 192, 192, 0.808);
}
h2 {
  text-align: center;
}
@media (max-width: 576px) {
  .box {
    display: flex;
    flex-direction: column;
  }
  .mn {
    font-size: 1rem;
    margin-right: 15px;
    margin-left: 15px;
  }
  .text-box {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .icon-box {
    display: none;
  }
  .card-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  footer {
    font-size: 0.8rem;
  }
}
@media (max-width: 1400px) {
  .cards {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
